@import './palette.scss';

.About {
    height: 100%;
    // margin: 5rem auto !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darken(whitesmoke, 3);
    margin: 7rem auto !important;
    padding: 2rem;
    border: 0.5px solid lighten(lightgray, 8);

    @media (max-width: 992px) {
        margin: 4rem !important;
    }
    @media (max-width: 768px) {
        margin: 4rem auto 0 !important;
        padding-bottom: 0;
    }

    .about-bio-row {
        height: auto;
        display: flex;
        justify-content: center;
        margin: auto;
        padding: 0.5rem;
        // background-color: darken(whitesmoke, 3);

        @media (max-width: 768px) {
            margin: 2vh auto;
            padding: 0;
        }

        @media (max-width: 992px) {
            margin: 0;
        }

        .about-bio-col {
            display: flex;
            flex-direction: column;
            // background-color: $hslLightGray;
            padding: 1rem;

            // @media (min-width: 768px) {
            //     margin: auto;
            // }

            @media (max-width: 400px) {
                padding: 0 !important;
            }

            .about-info-wrapper {
                display: flex;
                flex-flow: column nowrap;
                font-size: 1.1rem;
                align-items: center;

            }
            
        }
    }

    .about-social-row {
        height: auto;
        width: 60%;
        display: flex;
        flex-direction: row;
        padding: 1rem;
        margin: 2rem 0;
        background-color: darken(whitesmoke, 2);

        @media (max-width: 768px) {
            // padding: 0.5rem 1.5rem;
            margin: 1rem 0;
        }

        @media (max-width: 992px) {
            flex-direction: column;
            padding: 1rem;
        }

        .col {
            padding: 0;

            a {
                width: 100%;
            }
        }

        .about-social-media-link {
            border-radius: 1px;
            background-color: $hslBlueLightGray;
            border: 1px solid lightgray;
            padding: 1rem;
            // margin: 0.5rem auto;
            letter-spacing: 1px;
        }

        .about-social-media-link:hover {
            background-color: darken($hslBlueLightGray, 10);
        }
    }
}