@import './palette.scss';
@import './Main.scss';
@import './About.scss';
@import './Header.scss';
@import './Footer.scss';
@import './Services.scss';
@import './Contact.scss';
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');

html {
    body {
        div#root {
            .App {
                font-size: 16px;
                font-family: 'Lato', sans-serif;
                display: flex;
                flex-direction: column;
            }
        }
    }
}