@import './palette.scss';
@import './About.scss';
@import './Header.scss';
@import './Footer.scss';
@import './Services.scss';
@import './Contact.scss';
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');

html {
    body {
        div#root {
            .App {
                font-size: 16px;
                display: flex;
                flex-direction: column;

                div { 
                    margin: auto;
                }

                .Main {
                    min-height: 70vh;
                    min-width: 65%;

                    div {
                        display: flex;
                        padding: 2rem;
                    }

                    h1 {
                        margin: auto;
                    }

                }
            }
        }
    }
}