@import './palette.scss';
@import './About.scss';
@import './Footer.scss';
@import './Services.scss';
@import './Contact.scss';
@import './Navbar.scss';
@import './Certifications.scss';
@import './Solutions.scss';
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');

html {
    width: 100%;
    height: 100%;
    background-color: darken(whitesmoke, 3);

    body {
        height: 90%;
        background-color: transparent; 

        div#root {
            height: auto;

            .App {
                height: auto;
                font-size: 16px;
                font-family: 'Lato', sans-serif;
                display: flex;
                flex-direction: column;
                // margin: 8vh 0 0;
                background-color: darken(whitesmoke, 3);
            }
        }

        .hr-divider {
            background-color: $hslBaseOrange;
        }

        .light-gray-shadow {
            box-shadow: 0 2px 9px lighten(gray, 29);
        }

        .lg-light-gray-shadow {
            box-shadow: 0 5px 27px lighten(gray, 32);
        }

        .contact-link {
            background-color: $hslBaseOrange;
            margin: 2rem auto;
            padding: 1rem;
            width: 70%;
            color: white !important;
            text-align: center;
            letter-spacing: 1px;
            text-decoration: none;
        }

        .contact-link:hover {
            background-color: darken($hslBaseOrange, 10);
        }
    }
}