@import './palette.scss';

.Contact {
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
    padding: 1rem;
    width: 70vw;
    height: auto;

    @media (max-width: 449px) {
        padding: 0.25rem;
        width: 98vw;
        margin: 2rem auto;
    }

    @media (min-width: 960px) {
        max-width: 45vw;
    }

    @media (min-width: 1300px) {
        max-width: 30vw;
    }

    h1 {
        margin: 1.6rem auto;
        font-weight: bold;
        letter-spacing: 2px;
    }

    .form-group {
        padding: 0;
        margin: 0.4rem 0;
        flex-flow: nowrap;
    }

    label {
        font-weight: 600;
        letter-spacing: 0.5px;
        margin: auto;
        padding: 0;
        text-align: right;

        @media (max-width: 500px) {
            font-size: 0.8rem;
        }
    }

    // .col-sm-9 {
    //     padding: 0.7rem;
    // }

    input {
        font-size: 0.9rem;

        @media (max-width: 500px) {
            font-size: 0.8rem;
        }
    }

    textarea {
        @media (max-width: 500px) {
            font-size: 0.8rem;
        }
    }

    button {
        width: 100%;
        margin: 1rem auto;
        padding: 1rem;
        font-size: 1.3rem;
        letter-spacing: 1px;
        background-color: $hslBlue;
    }

    button:hover {
        background-color: $hslBlueHover;
        font-size: 1.4rem;
    }

    div.required-field-notice {
        display: flex;

        small {
            margin: 0.2rem auto;
        }
    }
}
