.Footer {
    min-height: 12vh;
    width: 100%;
    display: flex;
    background-color: $gray;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (max-width: 500px) {
        position: relative !important;
    }

    p {
        color: $rgbWhite;
        margin: 0.5rem;
        padding: 0 1rem;
    }
}