@import './palette.scss';

.Header {
    background-color: $rgbDarkBlue;
    width: 100%;
    min-height: 11vh;
    display: flex;
    font-size: calc(10px + 2vmin);
    color: $rgbWhite;


    h3.title {
        margin: auto 2rem;
    }

    div.nav-links {
        margin: auto 2rem;
        display: inline-block;
        text-align: right;
    }

}