@import './palette.scss';

.Navbar {
    min-height: 8vh;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    background-color: $gray;

    .navbar-brand {
        font-size: 1.7rem;
        font-weight: 500;
        letter-spacing: 1px;
        color: $hslBaseOrange !important;
    }

    .navbar-brand:hover {
        color: $hslBrightOrange !important;
    }

    .nav-link {
        color: white !important;
        margin: 0 0.5rem;
    }

    .nav-link:hover {
        color: $hslLightOrange !important;
    }
}