/* Coolors Exported Palette - coolors.co/00131c-053d5b-f9f9ed-ff5e07-dbd0c9 */

$gray: #343a40;

/* HSL */
$hslDarkBlue: hsla(199%, 100%, 5%, 1);
$hslBlue: hsla(201%, 90%, 19%, 1);
$hslWhite: hsla(60%, 50%, 95%, 1);
$hslOrange: hsla(21%, 100%, 51%, 1);
$hslLightGray: hsla(23%, 20%, 82%, 1);

/* RGB */
$rgbDarkBlue: rgba(0, 19, 28, 1);
$rgbBlue: rgba(5, 61, 91, 1);
$rgbWhite: rgba(249, 249, 237, 1);
$rgbOrange: rgba(255, 94, 7, 1);
$rgbLightGray: rgba(219, 208, 201, 1);