.Slideshow {
    width: 100%;
    // background-color: antiquewhite;

    .custom-carousel-caption {
        background-color: gray;
        padding: 1rem !important;

        div {
            padding-bottom: 1.5rem;

            p {
                margin: 1rem;
            }

            a {
                font-size: 1.2rem;
                text-decoration: none;
                color: $hslBrightOrange;
            }
        }
    }

    .custom-carousel-image {
        max-width: 100%;
        margin: auto;
        border: 1px solid lightgray;
    }

    .carousel-indicators {
        padding: 1rem;
    }
}