/* Coolors Exported Palette - coolors.co/00131c-053d5b-f9f9ed-ff5e07-dbd0c9 */
/* HSL */
/* RGB */
.About {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ededed;
  margin: 7rem auto !important;
  padding: 2rem;
  border: 0.5px solid #e7e7e7; }
  @media (max-width: 992px) {
    .About {
      margin: 4rem !important; } }
  @media (max-width: 768px) {
    .About {
      margin: 4rem auto 0 !important;
      padding-bottom: 0; } }
  .About .about-bio-row {
    height: auto;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0.5rem; }
    @media (max-width: 768px) {
      .About .about-bio-row {
        margin: 2vh auto;
        padding: 0; } }
    @media (max-width: 992px) {
      .About .about-bio-row {
        margin: 0; } }
    .About .about-bio-row .about-bio-col {
      display: flex;
      flex-direction: column;
      padding: 1rem; }
      @media (max-width: 400px) {
        .About .about-bio-row .about-bio-col {
          padding: 0 !important; } }
      .About .about-bio-row .about-bio-col .about-info-wrapper {
        display: flex;
        flex-flow: column nowrap;
        font-size: 1.1rem;
        align-items: center; }
        .About .about-bio-row .about-bio-col .about-info-wrapper .about-contact-link {
          background-color: #ff955c;
          margin: 2rem auto;
          padding: 0.5rem;
          width: 70%;
          color: white !important;
          text-align: center;
          letter-spacing: 1px;
          text-decoration: none; }
        .About .about-bio-row .about-bio-col .about-info-wrapper .about-contact-link:hover {
          background-color: #ff7429; }
  .About .about-social-row {
    height: auto;
    width: 60%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 1rem;
    margin: 2rem 0;
    background-color: #f0f0f0; }
    @media (max-width: 768px) {
      .About .about-social-row {
        padding: 0.5rem 1.5rem;
        margin: 6vh auto; } }
    .About .about-social-row .about-social-media-link {
      border-radius: 1px;
      background-color: #a0c5da;
      border: 1px solid lightgray;
      padding: 1rem;
      margin: 1rem auto;
      letter-spacing: 1px; }
      @media (max-width: 576px) {
        .About .about-social-row .about-social-media-link {
          padding: 0.5rem 1rem;
          margin: 0.5rem auto; } }
    .About .about-social-row .about-social-media-link:hover {
      background-color: #7bafcc; }
