/* Coolors Exported Palette - coolors.co/00131c-053d5b-f9f9ed-ff5e07-dbd0c9 */
/* HSL */
/* RGB */
/* Coolors Exported Palette - coolors.co/00131c-053d5b-f9f9ed-ff5e07-dbd0c9 */
/* HSL */
/* RGB */
@import url("https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap");
.About {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0; }
  .About .about-bio-row {
    height: auto;
    display: flex;
    justify-content: center;
    margin: 12vh auto 3vh; }
    @media (max-width: 768px) {
      .About .about-bio-row {
        margin: 2vh auto; } }
    @media (max-width: 992px) {
      .About .about-bio-row {
        margin: 4vh auto; } }
    .About .about-bio-row .about-bio-col {
      display: flex;
      flex-direction: column;
      padding: 1rem; }
      .About .about-bio-row .about-bio-col .about-info-wrapper {
        display: flex;
        flex-flow: column nowrap;
        font-size: 1.1rem;
        align-items: center; }
        .About .about-bio-row .about-bio-col .about-info-wrapper .about-contact-link {
          background-color: #ff955c;
          margin: 2rem auto;
          padding: 0.5rem;
          width: 70%;
          color: white !important;
          text-align: center;
          letter-spacing: 1px;
          text-decoration: none; }
        .About .about-bio-row .about-bio-col .about-info-wrapper .about-contact-link:hover {
          background-color: #ff7429; }
  .About .about-social-row {
    height: auto;
    margin: 3vh auto 9vh;
    display: flex;
    justify-content: center;
    flex-flow: row wrap; }
    @media (max-width: 768px) {
      .About .about-social-row {
        padding: 0.5rem 1.5rem;
        margin: 2vh auto 5vh; } }
    @media (max-width: 768px) {
      .About .about-social-row .col-lg-4, .About .about-social-row .col-md-4, .About .about-social-row .col-sm-4 {
        display: flex;
        justify-content: center; } }
    .About .about-social-row .about-social-media-link {
      border-radius: 1px;
      background-color: #a0c5da;
      border: 1px solid lightgray;
      padding: 1rem 1rem;
      letter-spacing: 1px; }
      @media (max-width: 576px) {
        .About .about-social-row .about-social-media-link {
          padding: 0.5rem 1rem;
          margin: 0.5rem auto; } }
    .About .about-social-row .about-social-media-link:hover {
      background-color: #7bafcc; }
  .About .light-gray-shadow {
    box-shadow: 0 2px 7px #b3b3b3; }

.Footer {
  min-height: 12vh;
  width: 100%;
  display: flex;
  background-color: #525b64;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .Footer p {
    color: #f9f9ed;
    margin: 0.5rem;
    padding: 0 1rem; }

.Services {
  background-color: #f9f9ed; }

/* Coolors Exported Palette - coolors.co/00131c-053d5b-f9f9ed-ff5e07-dbd0c9 */
/* HSL */
/* RGB */
.Contact {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  padding: 1rem;
  width: 70vw;
  height: auto; }
  @media (max-width: 449px) {
    .Contact {
      padding: 0.25rem;
      width: 98vw;
      margin: 2rem auto; } }
  @media (min-width: 960px) {
    .Contact {
      max-width: 45vw; } }
  @media (min-width: 1300px) {
    .Contact {
      max-width: 30vw; } }
  .Contact h1 {
    margin: 1.6rem auto;
    font-weight: bold;
    letter-spacing: 2px; }
  .Contact .form-group {
    padding: 0;
    margin: 0.4rem 0;
    flex-flow: nowrap; }
  .Contact label {
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: auto;
    padding: 0;
    text-align: right; }
    @media (max-width: 500px) {
      .Contact label {
        font-size: 0.8rem; } }
  .Contact input {
    font-size: 0.9rem; }
    @media (max-width: 500px) {
      .Contact input {
        font-size: 0.8rem; } }
  @media (max-width: 500px) {
    .Contact textarea {
      font-size: 0.8rem; } }
  .Contact button {
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    font-size: 1.3rem;
    letter-spacing: 1px;
    background-color: #0793df; }
  .Contact button:hover {
    background-color: #34b4f9;
    font-size: 1.4rem; }
  .Contact div.required-field-notice {
    display: flex; }
    .Contact div.required-field-notice small {
      margin: 0.2rem auto; }

/* Coolors Exported Palette - coolors.co/00131c-053d5b-f9f9ed-ff5e07-dbd0c9 */
/* HSL */
/* RGB */
.Navbar {
  min-height: 8vh;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  background-color: #38718f !important; }
  .Navbar .navbar-brand {
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #f2d1c0 !important; }
  .Navbar .navbar-brand:hover {
    color: #ff955c !important; }
  .Navbar .nav-link {
    color: white !important;
    margin: 0 0.5rem; }
  .Navbar .nav-link:hover {
    color: #f2d1c0 !important; }

html {
  height: 100%;
  background-color: whitesmoke; }
  html body {
    height: 90%;
    background-color: transparent; }
    html body div#root {
      height: auto; }
      html body div#root .App {
        height: auto;
        font-size: 16px;
        font-family: 'Lato', sans-serif;
        display: flex;
        flex-direction: column;
        margin: 8vh 0;
        background-color: whitesmoke; }
