/* Coolors Exported Palette - coolors.co/00131c-053d5b-f9f9ed-ff5e07-dbd0c9 */
/* HSL */
/* RGB */
@import url("https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap");
.Main {
  height: 100%;
  min-width: 65%;
  font-family: 'Roboto', sans-serif;
  margin: 8vh 0; }
  .Main div {
    display: flex;
    padding: 2rem; }

.About {
  background-color: #053d5b; }
  .About * {
    color: #f9f9ed; }

.Footer {
  min-height: 10vh;
  width: 100%;
  display: flex;
  background-color: #343a40;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .Footer p {
    color: #f9f9ed;
    margin: 0.3rem;
    padding: 0 1rem; }

.Services {
  background-color: #f9f9ed; }

.Contact {
  background-color: #f9f9ed;
  display: flex;
  flex-direction: column;
  min-width: 50%;
  margin: 3rem auto; }
  .Contact h1 {
    margin: 0 auto 2rem; }
  .Contact .form-group {
    padding: 0;
    margin: 0; }
  .Contact label {
    font-size: 1.2rem;
    margin: auto;
    padding: 0; }
  .Contact .col-sm-9 {
    padding: 1rem; }

.Navbar {
  min-height: 8vh;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px; }
  .Navbar .navbar-brand {
    font-size: 1.7rem;
    color: #ff5e07 !important; }
  .Navbar .nav-link {
    color: #f9f9ed; }

html {
  margin: 0;
  padding: 0; }
  html body {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0; }
    html body div#root .App {
      font-size: 16px;
      font-family: 'Lato', sans-serif;
      display: flex;
      flex-direction: column; }
