/* Coolors Exported Palette - coolors.co/00131c-053d5b-f9f9ed-ff5e07-dbd0c9 */
/* HSL */
/* RGB */
.Contact {
  background-color: #edeae9;
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  padding: 1rem;
  width: 70vw; }
  @media (max-width: 449px) {
    .Contact {
      padding: 1rem;
      width: 96vw;
      margin: 2rem auto; } }
  @media (min-width: 450px) {
    .Contact {
      max-width: 85vw; } }
  @media (min-width: 660px) {
    .Contact {
      max-width: 65vw; } }
  @media (min-width: 960px) {
    .Contact {
      max-width: 45vw; } }
  @media (min-width: 1300px) {
    .Contact {
      max-width: 30vw; } }
  .Contact h1 {
    margin: 1.6rem auto;
    font-weight: bold;
    letter-spacing: 2px; }
  .Contact .form-group {
    padding: 0;
    margin: 0.4rem 0;
    flex-flow: nowrap; }
  .Contact label {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: auto;
    padding: 0;
    text-align: right; }
    @media (max-width: 500px) {
      .Contact label {
        font-size: 0.8rem; } }
  .Contact .col-sm-9 {
    padding: 0.7rem; }
  .Contact input {
    font-size: 0.9rem; }
    @media (max-width: 500px) {
      .Contact input {
        font-size: 0.8rem; } }
  @media (max-width: 500px) {
    .Contact textarea {
      font-size: 0.8rem; } }
  .Contact button {
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    font-size: 1.3rem;
    letter-spacing: 1px; }
