/* Coolors Exported Palette - coolors.co/00131c-053d5b-f9f9ed-ff5e07-dbd0c9 */
/* HSL */
/* RGB */
.Contact {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  padding: 1rem;
  width: 70vw;
  height: auto; }
  @media (max-width: 449px) {
    .Contact {
      padding: 0.25rem;
      width: 98vw;
      margin: 2rem auto; } }
  @media (min-width: 960px) {
    .Contact {
      max-width: 45vw; } }
  @media (min-width: 1300px) {
    .Contact {
      max-width: 30vw; } }
  .Contact h1 {
    margin: 1.6rem auto;
    font-weight: bold;
    letter-spacing: 2px; }
  .Contact .form-group {
    padding: 0;
    margin: 1rem 0;
    flex-flow: nowrap; }
  .Contact label {
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: auto;
    padding: 0;
    text-align: right; }
    @media (max-width: 500px) {
      .Contact label {
        font-size: 0.8rem; } }
  .Contact input {
    font-size: 0.9rem; }
    @media (max-width: 500px) {
      .Contact input {
        font-size: 0.8rem; } }
  @media (max-width: 500px) {
    .Contact textarea {
      font-size: 0.8rem; } }
  .Contact button {
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    font-size: 1.3rem;
    letter-spacing: 1px;
    background-color: #0793df; }
  .Contact button:hover {
    background-color: #34b4f9;
    font-size: 1.4rem; }
  .Contact div.required-field-notice {
    display: flex; }
    .Contact div.required-field-notice small {
      margin: 0.2rem auto; }
