/* Coolors Exported Palette - coolors.co/00131c-053d5b-f9f9ed-ff5e07-dbd0c9 */
/* HSL */
/* RGB */
.Header {
  background-color: #00131c;
  width: 100%;
  min-height: 11vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: #f9f9ed; }
  .Header h3.title {
    margin: auto 2rem; }
  .Header div.nav-links {
    margin: auto 2rem;
    display: inline-block;
    text-align: right; }
