/* Coolors Exported Palette - coolors.co/00131c-053d5b-f9f9ed-ff5e07-dbd0c9 */
/* HSL */
/* RGB */
.Navbar {
  min-height: 4rem;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  background-color: #38718f !important; }
  .Navbar .navbar-brand {
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #f9f9ec !important; }
  .Navbar .navbar-brand:hover {
    color: #ff955c !important; }
  .Navbar .nav-link {
    color: white !important;
    margin: 0 0.5rem; }
  .Navbar .nav-link:hover {
    color: #f2d1c0 !important; }
  @media (max-width: 420px) {
    .Navbar a.navbar-brand {
      font-size: 1.5rem; } }
